node_modules/
dist/
.env
*.log
.DS_Store
coverage/
.idea/
.vscode/
*.tsbuildinfo

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
Thumbs.db
*.swp

# TypeScript
*.tsbuildinfo

# Build output
dist/
out/

# Dependencies
package-lock.json
yarn.lock

# Debugging files
*.log

# Misc
.nyc_output/
.eslintcache

#view for development only
/src/views
google-response.txt